<%= form_for @user, url: sessions_path, method: :post do |f| %>
    <label> Email </label>
    <%=    f.text_field :email %><br>
    <label> Password </label>

    <%=    f.password_field :password %><br>
    <input type="hidden" name="source" value="<%= @source %>">
    <%= f.submit "Log In", class: "big-brown-button", id: "log-in-button" %>

    <% end %>

