<ul>
<% @cart.unique_products.each do  | product | %>
   <li> 

   <%# display the unique products, quantity, price, amount %>

   <%= link_to product.name, product_path(product) %>
   Price: <%= @cart.price_when_bought(product) %>
   Quantity: <%= @cart.unique_product_tally(product.id) %>
   Amount:<%= @cart.unique_product_amount(product.id) %>
   

   <%# editing the cart_item, aka change quantity %>

   <%= form_for @cart.cart_items.find{ |item| item.product_id == product.id } ,   :url => url_for(controller: 'admin/cart_items',
    action: 'special_update',
    method: 'patch') do | f | %>
<%= f.label :quantity  %>
<%= f.number_field :quantity, value: @cart.unique_product_tally(product.id)   %>
<%# we prevent sneaky changing price %>
<%= f.hidden_field :product_id, value: product.id  %>
<%= f.hidden_field :cart_id, value: session[:cart_id] %>
<%= f.submit "Update" %>
<% end %>


      <%# delete cart item %>
  <form action="<%= cart_item_special_destroy_path %>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="hidden" name="[cart]product_id" value="<%= product %>">
  <input type="submit" value="Delete">

  </form>    

  





<% if notice %>
<%= notice %>
<% end %>






   <%= %>
   </li>
    <% end %>
    </ul>

