
<h3>THIRD STEP OF CHECKOUT: payment </h3>

<%= render "bill_subtotal" %>
<%= render "bill_taxes" %>
<%= render "bill_shipping" %>
<%= render "bill_total" %>

<div>
<h1>PAYMENT</h1>
ALL TRANSACTIONS ARE SECURE AND ENCRYPTED.




<form action="<%= @nextpath %>" method="GET">

<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


<label>Card Number:</label><br>
<input type="text" ><br>
<label>Name on Card:</label><br>
<input type="text" ><br>
<label>Expiration Date (MMYY):</label><br>
<input type="text" ><br>
<label>Security Code:</label><br>
<input type="text" ><br>
<input type="submit" value="Pay Now">
</form>

</div>