admin module - categories - show file
we want to not have admin in the url for this file

#option to sort by....
Sort by:
<%= link_to "Low to High Price", {:controller => "admin/categories", :action => "show", :sort => "lowtohigh" }%>
<%= link_to "High to Low Price", {:controller => "admin/categories", :action => "show", :sort => "hightolow" }%>

<h1><%= @category.name %></h1>
<%= link_to "Add a new Product in this category", new_category_product_path(@category) %>
<div>
<% @categoryproducts.each do | product | %>
<%= link_to product.name, product_path(product) %>
<%= product.current_price %>
<% end %>
</div>