
<div class="category-hero-box">
<h2><%= @category.name %></h2>
</div>


#option to sort by....
Sort by:
<%= link_to "Low to High Price", {:controller => "admin/categories", :action => "show", :sort => "lowtohigh" }%>
<%= link_to "High to Low Price", {:controller => "admin/categories", :action => "show", :sort => "hightolow" }%>


<section class="section" > 

<div class="row">
<% @categoryproducts.each do | product | %>

    <div class="col span-1-of-4 product-box">
        <a href="<%= product_path(product) %>">
        <img src="https://cdn.shopify.com/s/files/1/2037/5105/products/KKW-Body-Shimmer-Travel-Bottle-1500_600x.jpg?v=1596404762">
        </a>
        <div class="product-title">
        <%= link_to product.name, product_path(product) %>
        </div>
        <div class="product-price">
        <%= product.current_price %>
        </div>
        <div class="button">
        <%= link_to "Shop Now", product_path(product) %>
        </div>

    </div>
    <% end %>

<div>
</section>

<%= render "admin_menu" %>
