
<% if admin_logged_in == true %>
<div class="admin-menu" >

<h3>ADMIN MENU</h3>
All Products: <br>
<%= link_to "Add a new product", new_product_path %> 
<%= link_to "Product index", products_path %> 
<br>


For this product:
<% if @product && @product.id %>
This Category: <br>

<%= link_to "Edit this product", edit_product_path(@product.id) %> 
<br>

form to delete product
<form action="/admin/products/<%= @product.id %>" method="POST">
<input type="hidden" name="_method" value="delete">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="submit" value="Delete Product">
</form>

 
<% end %>



</div>
<% end %>

