admin module - products - show file
we want to not have admin in the url for this file
<div>
<h2><%= @product.name %></h2>
Price: $<%= @product.current_price %>

</div>
<%= form_for CartItem.new,   :url => url_for(controller: 'admin/cart_items',
    action: 'create',
    method: 'post') do | f | %>
<%= f.label :quantity  %>
<%= f.number_field :quantity, value: 1  %>
<%= f.hidden_field :price, value: @product.current_price  %>
<%= f.hidden_field :product_id, value: @product.id  %>
<%= f.hidden_field :cart_id, value: session[:cart_id] %>
<%= f.submit "Add to Cart" %>
<% end %>
<% if notice %>
<%= notice %>
<% end %>

<%= link_to "Write a Review", new_product_review_path(@product) %>
Reviews:
<% @product.reviews.new_to_old.each do | review | %>
    <%= review.user.name if review.user.name %>
    <%= review.content %>
    <%= link_to "Full Review", product_review_path(@product, review) %>
<% end %>
