admin module - products - show file
we want to not have admin in the url for this file

<%= render "admin_menu" %>

<section class="product-show-panel >

    <div class="product-image">

    </div>

    <div class="product-info">

    <div class="product-name">
        <h2><%= @product.name %></h2>
    </div>

    <div class="product-price"
    Price: $<%= @product.current_price %>
    </div>

    
    </div>



<%= form_for CartItem.new,   :url => url_for(controller: 'admin/cart_items',
    action: 'create',
    method: 'post') do | f | %>
<%= f.label :quantity  %>
<%= f.number_field :quantity, value: 1  %>
<%= f.hidden_field :price, value: @product.current_price  %>
<%= f.hidden_field :product_id, value: @product.id  %>
<%= f.hidden_field :cart_id, value: current_cart.id %>
<%= f.submit "Add to Cart" %>
<% end %>
<% if notice %>
<%= notice %>
<% end %>


</section>





<%= link_to "Write a Review", new_product_review_path(@product) %>
Reviews:
<% @product.reviews.new_to_old.each do | review | %>
    <%= review.user.name if review.user.name %>
    <%= review.content %>
    <%= link_to "Full Review", product_review_path(@product, review) %>
<% end %>
