<!DOCTYPE html>
<html>
  <head>
    <title>Ekommerse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>

  <%= link_to "Cart", cart_path %>

<% if is_logged_in %>
<a href="/logout"> Log out </a>
<% else %>
<a href="/auth/facebook"> Log in thru facebook </a>
<a href="<%= new_session_path %>"> Log in with your store account </a>
<a href="<%= new_user_path %>"> Sign up with your store account </a>
<% end %>

<nav> 
<% Category.all.each do | category | %>
  <%= link_to category.name, category_path(category) %>
  <% end %>
</nav>

    <%= yield %>
  </body>
</html>
