<!DOCTYPE html>
<html>
  <head>
    <title>Ekommerse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'grid' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>

  <% if is_logged_in %>
  <div class="top-ribbon-menu">

<a href="/logout"> Log out </a>
</div>

<% else %>
<div class="top-ribbon-menu">
<a href="<%= new_session_path %>"> Log in / Sign up </a>
</div>

<% end %>


  <div class="head-banner" >
  <a href="<%= root_path %>"><h1>E-KOMMERSE</h1></a>
<div class="menu button"><a href="#">MENU</a></div>
<div class="bag button"><%= link_to "MY BAG", cart_path %></div>
  </div>

  <nav> 
  <ul>
  <% Category.all.each do | category | %>
    <li>
    <%= link_to category.name, category_path(category) %>
    </li>
    <% end %>
    </ul>
  </nav>
  



    <%= yield %>


    <footer>
    <div class="row">
        <div class="col span-1-of-2">
        <ul class="footer-nav">
        <li><a href="">About Us</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Press</a></li>
        <li><a href="">iOS App</a></li>
        <li><a href="">Android App</a></li>
</ul>
<br>
<p>Copyright &copy; 2020 by E-Kommerse. All rights reserved.</p>
<a href="">Terms Of Use</a>
<br>   
<a href="">Privacy Policy</a>


</div>
    
        <div class="col span-1-of-2">
        <ul class="social-links">
        <li><a href="#">FAQS</a></li>
        <li><a href="#">SHIPPING INFORMATION        </i></a></li>
        <li><a href="#">COOKIES        </i></a></li>
        <li><a href="#">DO NOT SELL MY PERSONAL INFORMATION</i></a></li>
    </ul>


        </div>
    </div>
    


    </div>
</footer>

  </body>
</html>
